body{
    background-image: url(../assets/background.png);
    background-size: 100vw 100vh;
}

.clock{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.greeting{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}


.icons {
    display: flex;
    justify-content: center;
    gap:50px;
}

.icons .github img{
    height:40px;
}

.icons .youtube img{
    height:40px;
}

.icons .gmail img{
    height:40px;
}
.icons img:hover{
    filter: drop-shadow(8px 10px 10px  #888);
}